<div class="fixed right-4 bottom-4">
  <button
    class="relative bg-lime-700 border-lime-700 text-white p-3 rounded-lg text-sm uppercase font-semibold mt-5 tracking-tight overflow-visible"
    type="button"
    (click)="toggleModal()"
  >
    Platos Agregados
    <div
      class="absolute -top-3 -right-3 px-2.5 py-0.5 bg-red-500 rounded-full text-xs"
    >
      {{ platosArray.length + bebestiblesArrayInfo.length }}
    </div>
  </button>
</div>

<section class="text-gray-600 mt-28 body-font shadow-sm">
  <h2 class="text-2xl mt-4 text-gray-500 font-bold text-center">Bebestibles</h2>
  <div class="container px-5 py-5 mx-auto">
    <div class="flex flex-wrap -m-4">
      <!--start here-->
      <ng-container *ngFor="let item of bebestibles">
        <div class="p-4 md:w-1/3">
          <div class="h-full border border-gray-400 rounded-lg overflow-hidden">
            <img
              class="lg:h-48 md:h-36 w-full object-cover object-center"
              [src]="item.img"
              alt="blog cover"
            />

            <div class="p-2">
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                {{ item.nombre }}
                <span class="ml-2 text-base text-gray-500">{{
                  item.unidad
                }}</span>
              </h1>
            </div>
            <div class="p-2">
              <h1 class="title-font text-xl font-medium text-gray-600 mb-3">
                Precio: <strong>${{ item.precio }}</strong>
              </h1>
            </div>
            <div class="flex justify-center w-full">
              <button
                (click)="agregarBebestiblePedidoInfo(item)"
                class="w-1/2 m-2 border-2 bg-lime-700 border-lime-700 rounded-lg px-3 py-1 text-white hover:bg-lime-900 hover:text-white"
              >
                Agregar Al Pedido
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>

<section class="text-gray-600 mt-28 body-font shadow-sm">
  <h2 class="text-2xl mt-4 text-gray-500 font-bold text-center">Tragos</h2>
  <div class="container px-5 py-5 mx-auto">
    <div class="flex flex-wrap -m-4">
      <!--start here-->
      <ng-container *ngFor="let plato of platos">
        <div *ngIf="plato.tipo_plato === 2" class="p-4 md:w-1/3">
          <div class="h-full border border-gray-400 rounded-lg overflow-hidden">
            <img
              class="lg:h-48 md:h-36 w-full object-cover object-center"
              [src]="plato.img"
              alt="blog cover"
            />

            <div class="p-2">
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                {{ plato.recetum.nombre_prep }}
              </h1>
            </div>
            <div class="p-2">
              <h1 class="title-font text-xl font-medium text-gray-600 mb-3">
                Precio: <strong>${{ plato.precio }}</strong>
              </h1>
            </div>
            <div class="flex justify-center w-full">
              <button
                (click)="agregarAlPedidoInfo(plato)"
                (click)="agregarAlPedido(plato.id_plato)"
                class="w-1/2 m-2 border-2 bg-lime-700 border-lime-700 rounded-lg px-3 py-1 text-white hover:bg-lime-900 hover:text-white"
              >
                Agregar Al Pedido
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>

<section class="text-gray-600 mt-28 body-font shadow-sm">
  <h2 class="text-2xl mt-4 text-gray-500 font-bold text-center">Entradas</h2>
  <div class="container px-5 py-5 mx-auto">
    <div class="flex flex-wrap -m-4">
      <!--start here-->
      <ng-container *ngFor="let plato of platos">
        <div *ngIf="plato.tipo_plato === 3" class="p-4 md:w-1/3">
          <div class="h-full border border-gray-400 rounded-lg overflow-hidden">
            <img
              class="lg:h-48 md:h-36 w-full object-cover object-center"
              [src]="plato.img"
              alt="blog cover"
            />

            <div class="p-2">
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                {{ plato.recetum.nombre_prep }}
              </h1>
            </div>
            <div class="p-2">
              <h1 class="title-font text-xl font-medium text-gray-600 mb-3">
                Precio: <strong>${{ plato.precio }}</strong>
              </h1>
            </div>
            <div class="flex justify-center w-full">
              <button
                (click)="agregarAlPedidoInfo(plato)"
                (click)="agregarAlPedido(plato.id_plato)"
                class="w-1/2 m-2 border-2 bg-lime-700 border-lime-700 rounded-lg px-3 py-1 text-white hover:bg-lime-900 hover:text-white"
              >
                Agregar Al Pedido
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>

<section class="text-gray-600 mt-28 body-font shadow-sm">
  <h2 class="text-2xl mt-4 text-gray-500 font-bold text-center">
    Platos de fondo
  </h2>
  <div class="container px-5 py-5 mx-auto">
    <div class="flex flex-wrap -m-4">
      <!--start here-->
      <ng-container *ngFor="let plato of platos">
        <div *ngIf="plato.tipo_plato === 1" class="p-4 md:w-1/3">
          <div class="h-full border border-gray-400 rounded-lg overflow-hidden">
            <img
              class="lg:h-48 md:h-36 w-full object-cover object-center"
              [src]="plato.img"
              alt="blog cover"
            />

            <div class="p-2">
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                {{ plato.recetum.nombre_prep }}
              </h1>
            </div>
            <div class="p-2">
              <h1 class="title-font text-xl font-medium text-gray-600 mb-3">
                Precio: <strong>${{ plato.precio }}</strong>
              </h1>
            </div>
            <div class="flex justify-center w-full">
              <button
                (click)="agregarAlPedidoInfo(plato)"
                (click)="agregarAlPedido(plato.id_plato)"
                class="w-1/2 m-2 border-2 bg-lime-700 border-lime-700 rounded-lg px-3 py-1 text-white hover:bg-lime-900 hover:text-white"
              >
                Agregar Al Pedido
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>

<section class="text-gray-600 mt-28 body-font shadow-sm">
  <h2 class="text-2xl mt-4 text-gray-500 font-bold text-center">Ensaladas</h2>
  <div class="container px-5 py-5 mx-auto">
    <div class="flex flex-wrap -m-4">
      <!--start here-->
      <ng-container *ngFor="let plato of platos">
        <div *ngIf="plato.tipo_plato === 4" class="p-4 md:w-1/3">
          <div class="h-full border border-gray-400 rounded-lg overflow-hidden">
            <img
              class="lg:h-48 md:h-36 w-full object-cover object-center"
              [src]="plato.img"
              alt="blog cover"
            />

            <div class="p-2">
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                {{ plato.recetum.nombre_prep }}
              </h1>
            </div>
            <div class="p-2">
              <h1 class="title-font text-xl font-medium text-gray-600 mb-3">
                Precio: <strong>${{ plato.precio }}</strong>
              </h1>
            </div>
            <div class="flex justify-center w-full">
              <button
                (click)="agregarAlPedidoInfo(plato)"
                (click)="agregarAlPedido(plato.id_plato)"
                class="w-1/2 m-2 border-2 bg-lime-700 border-lime-700 rounded-lg px-3 py-1 text-white hover:bg-lime-900 hover:text-white"
              >
                Agregar Al Pedido
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>

<section class="text-gray-600 mt-28 body-font shadow-sm">
  <h2 class="text-2xl mt-4 text-gray-500 font-bold text-center">Postres</h2>
  <div class="container px-5 py-5 mx-auto">
    <div class="flex flex-wrap -m-4">
      <!--start here-->
      <ng-container *ngFor="let plato of platos">
        <div *ngIf="plato.tipo_plato === 5" class="p-4 md:w-1/3">
          <div class="h-full border border-gray-400 rounded-lg overflow-hidden">
            <img
              class="lg:h-48 md:h-36 w-full object-cover object-center"
              [src]="plato.img"
              alt="blog cover"
            />

            <div class="p-2">
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                {{ plato.recetum.nombre_prep }}
              </h1>
            </div>
            <div class="p-2">
              <h1 class="title-font text-xl font-medium text-gray-600 mb-3">
                Precio: <strong>${{ plato.precio }}</strong>
              </h1>
            </div>
            <div class="flex justify-center w-full">
              <button
                (click)="agregarAlPedidoInfo(plato)"
                (click)="agregarAlPedido(plato.id_plato)"
                class="w-1/2 m-2 border-2 bg-lime-700 border-lime-700 rounded-lg px-3 py-1 text-white hover:bg-lime-900 hover:text-white"
              >
                Agregar Al Pedido
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>

<div
  *ngIf="showModalCart"
  class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex"
>
  <div class="relative w-auto my-6 mx-auto max-w-6xl">
    <!--content-->
    <div
      class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none"
    >
      <!--header-->
      <div
        class="flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t"
      >
        <h3 *ngIf="!pedidoActivo" class="text-3xl font-semibold">Resumen del pedido</h3>
        <h3 *ngIf="pedidoActivo" class="text-3xl font-semibold">Agrega a tu pedido</h3>
        <button
          class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
          (click)="toggleModal()"
        >
          <span
            class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none"
          >
            ×
          </span>
        </button>
      </div>
      <!--body-->
      <div class="relative p-1 flex-auto">
        <section class="antialiased text-gray-600 px-2" x-data="app">
          <div class="flex flex-col justify-center h-full">
            <!-- Table -->
            <div class="w-full max-w-2xl mx-auto bg-white">
              <div class="overflow-x-auto p-3">
                <table
                  *ngIf="bebestiblesArrayInfo.length > 0"
                  class="table-auto w-full rounded-sm"
                >
                  <thead
                    class="text-xs font-semibold uppercase text-gray-100 bg-paleta5"
                  >
                    <tr>
                      <th class="p-2">
                        <div class="font-semibold text-left">Bebestible</div>
                      </th>

                      <th class="p-2">
                        <div class="font-semibold text-left">Precio</div>
                      </th>
                      <th class="p-2">
                        <div class="font-semibold text-center">
                          Quitar del pedido
                        </div>
                      </th>
                    </tr>
                  </thead>

                  <tbody class="text-sm divide-y divide-gray-100">
                    <tr *ngFor="let b of bebestiblesArrayInfo">
                      <td class="p-2">
                        <div class="font-medium text-gray-800">
                          {{ b.nombre }}
                        </div>
                      </td>

                      <td class="p-2">
                        <div class="text-left font-medium text-green-500">
                          $ {{ b.precio }}
                        </div>
                      </td>
                      <td class="p-2">
                        <div class="flex justify-center">
                          <button (click)="borrarBebestible(b.id_bebida)">
                            <svg
                              class="w-8 h-8 hover:text-red-600 rounded-full hover:bg-gray-100 p-1"
                              fill="none"
                              stroke="currentColor"
                              viewBox="0 0 24 24"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                              ></path>
                            </svg>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table
                  *ngIf="platosArray.length > 0"
                  class="table-auto w-full rounded-sm"
                >
                  <thead
                    class="text-xs font-semibold uppercase text-gray-100 bg-paleta5"
                  >
                    <tr>
                      <th class="p-2">
                        <div class="font-semibold text-left">Plato</div>
                      </th>

                      <th class="p-2">
                        <div class="font-semibold text-left">Precio</div>
                      </th>
                      <th class="p-2">
                        <div class="font-semibold text-center">
                          Quitar del pedido
                        </div>
                      </th>
                    </tr>
                  </thead>

                  <tbody class="text-sm divide-y divide-gray-100">
                    <!-- record 1 -->
                    <tr *ngFor="let item of platosArrayInfo">
                      <td class="p-2">
                        <div class="font-medium text-gray-800">
                          {{ item.recetum.nombre_prep }}
                        </div>
                      </td>

                      <td class="p-2">
                        <div class="text-left font-medium text-green-500">
                          $ {{ item.precio }}
                        </div>
                      </td>
                      <td class="p-2">
                        <div class="flex justify-center">
                          <button (click)="borrarPlato(item.id_plato)">
                            <svg
                              class="w-8 h-8 hover:text-red-600 rounded-full hover:bg-gray-100 p-1"
                              fill="none"
                              stroke="currentColor"
                              viewBox="0 0 24 24"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                              ></path>
                            </svg>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="flex justify-end">
                <!-- send this data to backend (note: use class 'hidden' to hide this input) -->
                <input
                  type="hidden"
                  class="border border-black bg-gray-50"
                  x-model="selected"
                />
              </div>
            </div>
          </div>
        </section>
      </div>
      <!--footer-->
      <div
        class="flex items-center justify-end p-6 border-t border-solid border-slate-200 rounded-b"
      >
        <button
          class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="button"
          (click)="toggleModal()"
        >
          Close
        </button>
        <button
          *ngIf="!pedidoActivo"
          class="bg-lime-700 border-lime-700 text-white active:bg-lime-800 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="button"
          (click)="registrarPedidoCliente()"
        >
          Realizar Pedido
        </button>
        <button
          *ngIf="pedidoActivo"
          class="bg-lime-700 border-lime-700 text-white active:bg-lime-800 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="button"
          (click)="actualizarPedido()"
        >
          Actualizar al pedido
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showModalCart" class="opacity-25 fixed inset-0 z-40 bg-black"></div>

<div
  *ngIf="showModalPedido"
  class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex"
>
  <div class="relative w-auto my-6 mx-auto max-w-6xl">
    <!--content-->
    <div
      class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none"
    >
      <!--header-->
      <div
        class="flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t"
      >
        <h3 *ngIf="!pedidoActivo" class="text-3xl font-semibold">Resumen del pedido</h3>
        <h3 *ngIf="pedidoActivo" class="text-3xl font-semibold">Agrega a tu pedido</h3>
      </div>
      <!--body-->
      <div class="relative p-1 flex-auto">
        <section class="antialiased text-gray-600 px-2" x-data="app">
          <div class="flex flex-col justify-center h-full">
            <!-- Table -->
            <div class="w-full max-w-2xl mx-auto bg-white">
              <div class="overflow-x-auto p-3">
                <app-pedido-mesa
                  (showModalPedido)="showModalPedido = $event"
                ></app-pedido-mesa>
              </div>

              <div class="flex justify-end">
                <!-- send this data to backend (note: use class 'hidden' to hide this input) -->
                <input
                  type="hidden"
                  class="border border-black bg-gray-50"
                  x-model="selected"
                />
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<div
  *ngIf="showModalPedido"
  class="opacity-25 fixed inset-0 z-40 bg-black"
></div>
