<!-- SCARLETT HAZ ESTO -->

<div class="mt-4">
    <h1 class="font-bold text-3xl text-gray-900 text-center">
        Reservas totales 
    </h1>
</div>

<!-- component -->
<!-- This is an example component -->
<div class='w-full max-w-medium p-6 mx-auto bg-gray-80 rounded-3x2 shadow-xl flex flex-col'>
      <div class="flex justify-between pb-4">
<div class="-rotate-90 cursor-pointer">
  <svg width="30" height="15" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
</svg>
</div>
<span class="uppercase text-xl text-left font-semibold text-gray-700">Mesas</span>
<div class="rotate-90 cursor-pointer">
  <svg width="30" height="15" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
</svg>
</div>
<div class="w-full text-right mx-auto">
  <button
    type="button"
    class="border border-green-500 bg-green-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-green-600 focus:outline-none focus:shadow-outline cursor-pointer"
  >
    Disponible
  </button>
  <button
    type="button"
    class="border border-red-500 bg-red-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-red-600 focus:outline-none focus:shadow-outline cursor-pointer"
  >
    Ocupada
  </button>
  <button
    type="button"
    class="border border-yellow-500 bg-yellow-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-yellow-600 focus:outline-none focus:shadow-outline cursor-pointer"
  >
    Reservada
  </button>
</div>
     
  </div>
<div class="flex justify-between font-medium uppercase text-xs pt-4 pb-2 border-t">

</div>

<div class="flex justify-between font-medium text-sm pb-2">

  <span class="px-15 w-14 flex justify-center items-center border border-green-600 text-grey-1000  hover:text-green-600 cursor-pointer">
01
  </span>


  <span class="px-15 w-14 flex justify-center items-center border border-red-600 text-grey-1000  hover:text-red-600 cursor-pointer">
02
  </span>


  <span class="px-15 w-14 flex justify-center items-center border border-yellow-500 text-grey-1000  hover:text-yellow-500 cursor-pointer">
03
  </span>


  <span class="px-15 w-14 flex justify-center items-center border border-green-600 text-grey-1000 hover:text-green-600 cursor-pointer">
04
  </span>


  <span class="px-15 w-14 flex justify-center items-center border border-red-600 text-grey-1000 hover:text-red-600 cursor-pointer">
05
  </span>

</div>
<div class="flex justify-between font-medium text-sm pb-2">

  <span class="px-15 w-14 flex justify-center items-center border border-red-600 text-grey-1000 hover:text-red-600 cursor-pointer">
06
  </span>


  <span class="px-15 w-14 flex justify-center items-center border border-yellow-500 text-grey-1000  hover:text-yellow-500 cursor-pointer">
07
  </span>


  <span class="px-15 w-14 flex justify-center items-center border border-green-600 text-grey-1000 hover:text-green-600 cursor-pointer">
08
  </span>


  <span class="px-15 w-14 flex justify-center items-center border border-green-600 text-grey-1000  hover:text-green-600 cursor-pointer">
09
  </span>


  <span class="px-15 w-14 flex justify-center items-center border border-yellow-500 text-grey-1000  hover:text-yellow-500 cursor-pointer">
10
  </span>
</div>

<div class="flex justify-between font-medium text-sm pb-2">
  <span class="px-15 w-14 flex justify-center items-center border border-yellow-500 text-grey-1000 hover:text-yellow-500 cursor-pointer">
11
  </span>

  <span class="px-15 w-14 flex justify-center items-center border border-red-600 text-grey-1000 hover:text-red-600 cursor-pointer">
12
  </span>

  <span class="px-15 w-14 flex justify-center items-center border border-red-600 text-grey-1000 hover:text-red-600 cursor-pointer">
13
  </span>

  <span class="px-15 w-14 flex justify-center items-center border border-yellow-500 text-grey-1000 hover:text-yellow-500 cursor-pointer">
14
  </span>

  <span class="px-15 w-14 flex justify-center items-center border border-green-600 text-grey-1000 hover:text-green-600 cursor-pointer">
15
  </span>


</div>

</div>