<section class="antialiased bg-gray-100 text-gray-600 h-screen px-4" x-data="app">
    <div class="flex flex-col justify-center h-full">
        <!-- Table -->
        <div class="w-full max-w-2xl mx-auto bg-white shadow-lg rounded-sm border border-gray-200">
            <header class="px-5 py-4 border-b border-gray-100">
                <div class="font-semibold text-gray-800">Manage Carts</div>
            </header>

            <div class="overflow-x-auto p-3">
                <table class="table-auto w-full">
                    <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
                        <tr>
                            <th class="p-2">
                                <div class="font-semibold text-left">Plato/Bebestible</div>
                            </th>
                            <th class="p-2">
                                <div class="font-semibold text-left">Cantidad</div>
                            </th>
                            <th class="p-2">
                                <div class="font-semibold text-left">Total</div>
                            </th>

                        </tr>
                    </thead>

                    <tbody class="text-sm divide-y divide-gray-100">
                        <!-- record 1 -->
                        <ng-container *ngFor="let item of pedido.bebestibles">
                            <tr>
                            <td class="p-2">
                                <div class="font-medium text-gray-800">
                                    {{item[0].nombre}}
                                </div>
                            </td>
                            <td class="p-2">
                                <div class="text-left">{{item[1]}}</div>
                            </td>
                            <td class="p-2">
                                <div class="text-left font-medium text-green-500">
                                    {{item[0].precio}}
                                </div>
                            </td>
                        </tr>
                        </ng-container>
                        <ng-container *ngFor="let item of pedido.platos">
                            <tr>
                            <td class="p-2">
                                <div class="font-medium text-gray-800">
                                    {{item[0].recetum.nombre_prep}}
                                </div>
                            </td>
                            <td class="p-2">
                                <div class="text-left">{{item[1]}}</div>
                            </td>
                            <td class="p-2">
                                <div class="text-left font-medium text-green-500">
                                    {{item[0].precio}}
                                </div>
                            </td>
                        </tr>
                        </ng-container>
                       
                    </tbody>
                </table>
            </div>

            <!-- total amount -->
            <div class="flex justify-end font-bold space-x-4 text-2xl border-t border-gray-100 px-5 py-4">
                <div>Total</div>
                <div class="text-blue-600">${{pedido.total}} <span x-text="total.toFixed(2)"></span></div>
            </div>

        </div>
        <div class='flex items-center justify-center mt-14'>
        <div className=" md:w-72 rounded-3xl md:p-1 text-center flex flex-row md:flex-col ">
		<button (click)="webpay()" type="button" class="text-white bg-red-500 hover:bg-red-500 focus:ring-4 focus:outline-none focus:ring-[#3b5998]/50 font-medium rounded-2xl  text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#3b5998]/55 mr-2 mb-2">
                <svg  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5z" />
                </svg>
            <div class='text-xl font-mono font-bold pt-0.5'>
                <form method="post" [action]="linkReturn">
                  <input type="hidden" name="token_ws" [value]="tokenReturn" />
                  <input class="cursor-pointer" type="submit" value="Redcompra" />
                </form>
            </div>
            </button>
		<button (click)="showModal = true && tarjeta=true" type="button" class="text-white bg-gray-500 hover:bg-red-500 focus:ring-4 focus:outline-none focus:ring-[#3b5998]/50 font-medium rounded-2xl  text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#3b5998]/55 mr-2 mb-2">
                <svg  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5z" />
</svg>
<div class='text-xl font-mono font-bold pt-0.5'>
                    Tarjeta física
                </div>
            </button>
		<button (click)="showModal = true && efectivo=true" type="button" class="text-white bg-[#25D366] hover:bg-green-500 focus:ring-4 focus:outline-none focus:ring-[#3b5998]/50 font-medium rounded-2xl  text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#3b5998]/55 mr-2 mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m-3-2.818l.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
</svg>
<div class='text-xl font-mono font-bold pt-0.5'>
                   Efectivo
                </div>
            </button>
	</div>
    </div>
    </div>
</section>


 <div
    *ngIf="showModal"
    class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex"
  >
    <div class="relative w-auto my-6 mx-auto max-w-3xl">
      <!--content-->
      <div class="bg-gray-200 w-full px-16 md:px-0  flex items-center justify-center">
    <div class="bg-white border border-gray-200 flex flex-col items-center justify-center px-4 md:px-8 lg:px-24 py-8 rounded-lg shadow-2xl">
        <p *ngIf="tarjeta" class=" font-bold tracking-wider text-gray-900">Pago con Tarjeta</p>
        <p *ngIf="efectivo" class=" font-bold tracking-wider text-gray-900">Pago en Efectivo</p>
        <p *ngIf="tarjeta" class="text-2xl md:text-3xl lg:text-5xl font-bold tracking-wider text-gray-500 mt-4">Se solicitará la máquina RedCompra</p>
        <p class="text-gray-500 mt-4 pb-4 border-b-2 text-center">Llamando al mesero, por favor espere</p>
        <button *ngIf="pedido.estado === 2" [routerLink]="['/app-mesa/pagado', pedido.id_orden]" class="flex items-center space-x-2 bg-blue-600 hover:bg-blue-700 text-gray-100 px-4 py-2 mt-6 rounded transition duration-150" title="Return Home">
            <span>Terminar Pago</span>
        </button>
    </div>
</div>
    </div>
  </div>
  <div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>

