<div class="max-w-2xl mx-auto">
  <form
    autocomplete="on"
    [formGroup]="formBebestibles"
    class="flex items-center"
  >
    <label for="voice-search" class="sr-only">Search</label>
    <div class="relative w-full">
      <div
        class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none"
      >
        <svg
          class="w-5 h-5 text-gray-500"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </div>
      <input
        formControlName="nombre"
        type="nombre"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5"
        placeholder="Buscar Bebestibles."
        required
      />
    </div>
    <button
      (click)="obtenerBebestiblesBuscar()"
      type="submit"
      class="inline-flex items-center py-2.5 px-3 ml-2 text-sm font-medium text-white bg-paleta5 rounded-lg hover:bg-paleta2 focus:ring-4 focus:outline-none focus:ring-blue-300"
    >
      Buscar
    </button>
  </form>
</div>

<section class="container mx-auto p-6 font-mono">
  <div class="w-full mb-8 overflow-hidden rounded-lg shadow-lg">
    <div class="w-full overflow-x-auto">
      <table class="w-full">
        <thead>
          <tr
            class="text-md font-semibold tracking-wide text-left text-gray-100 bg-paleta5 uppercase border-b border-gray-600"
          >
            <th class="px-4 py-3">Nombre</th>
            <th class="px-4 py-3">Precio</th>
            <th class="px-4 py-3">Stock</th>
            <th class="px-4 py-3">Stock Critico</th>
            <th class="px-4 py-3">Unidad</th>
            <th class="px-4 py-3">Fecha_Vencimiento</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody class="bg-white">
          <tr *ngFor="let bebida of bebestibles" class="text-gray-700">
            <td class="px-4 py-3 border">
              <div class="flex items-center text-sm">
                <div>
                  <p class="font-semibold text-black">{{ bebida.nombre }}</p>
                </div>
              </div>
            </td>
            <td class="px-4 py-3 text-ms font-semibold border">
              {{ bebida.precio }}
            </td>
            <td class="px-4 py-3 text-ms font-semibold border">
              {{ bebida.stock }}
            </td>
            <td class="px-4 py-3 text-ms font-semibold border">
              {{ bebida.stock_cri }}
            </td>
            <td class="px-4 py-3 text-sm font-semibold border">
              {{ bebida.unidad }}
            </td>
            <td class="px-4 py-3 text-sm font-semibold border">
              {{ bebida.fecha_vencimiento }}
            </td>
            <td class="px-4 py-3 text-xs border">
              <div class="flex item-center justify-center">
                <div
                  [routerLink]="[
                    '/admin/bebestibles/registro',
                    bebida.id_bebida
                  ]"
                  class="w-4 mr-2 transform text-black hover:text-yellow-500 hover:scale-110"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
                    />
                  </svg>
                </div>
                <div
                  (click)="eliminarBebestible(bebida.id_bebida)"
                  class="w-4 mr-2 transform text-black hover:text-red-600 hover:scale-110"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                    />
                  </svg>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
