<ng-container *ngIf="esAdmin">
  <div class="flex flex-wrap mb-2">
    <div class="w-full md:w-1/6 xl:w-1/6 pt-3 px-3 md:pl-2">
      <div class="bg-green-600 border rounded shadow p-2">
        <div class="flex flex-row items-center">
          <div class="flex-shrink pl-1 pr-4">
            <i class="fas fa-users fa-2x fa-fw fa-inverse"></i>
          </div>
          <div class="flex-1 text-right">
            <h5 class="text-white">Total Usuarios</h5>
            <h3 class="text-white text-3xl">
              {{ totalUsuarios }}
              <span class="text-blue-400"><i class="fas fa-caret-up"></i></span>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-lista-usuarios></app-lista-usuarios>
</ng-container>

<ng-container *ngIf="esMesero">
  <app-list-mesas></app-list-mesas>
</ng-container>

<ng-container *ngIf="esCocinero">
  <app-lista-receta></app-lista-receta>
</ng-container>

<ng-container *ngIf="esFinanzas">
  <app-ingresos></app-ingresos>
</ng-container>

<ng-container *ngIf="esBodeguero">
  <app-lista-pedidos-ingredientes></app-lista-pedidos-ingredientes>

  <app-lista></app-lista>
</ng-container>
