<aside
  class="bg-paleta5 ml-[-100%] fixed z-10 top-0 pb-3 px-6 w-full flex flex-col justify-between h-screen transition duration-300 md:w-4/12 lg:ml-0 lg:w-[25%] xl:w-[20%] 2xl:w-[15%]"
>
  <div>
    <div class="">
      <img
        src="../../../../assets/Logo Blanco.png"
        class="w-80"
        alt="sigloxxi logo"
      />
    </div>

    <ul class="space-y-2 tracking-wide mt-8">
      <ng-container>
        <li *ngFor="let item of menuAdmin">
          <a
            [routerLink]="item.ruta"
            routerLinkActive="bg-gradient-to-r bg-paleta4"
            class="px-4 py-3 flex items-center space-x-4 rounded-md text-gray-100 group"
          >
            <span class="group-hover:text-gray-100">{{ item.nombre }}</span>
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
</aside>
