<aside
  class="from-paleta5 to-paleta2 bg-gradient-to-r ml-[-100%] fixed z-10 top-0 pb-3 px-6 w-full flex flex-col justify-between h-screen transition duration-300 md:w-4/12 lg:ml-0 lg:w-[25%] xl:w-[20%] 2xl:w-[15%]"
>
  <div>
    <div class="">
      <img
        src="../../../../assets/Logo Blanco.png"
        class="w-80"
        alt="sigloxxi logo"
      />
    </div>

    <div class="relative">
      <button
        routerLink="/admin/dashboard"
        routerLinkActive="bg-paleta4"
        class="flex flex-row items-center w-full px-4 py-2 mt-2 text-sm font-semibold text-left bg-transparent rounded-lg md:block hover:text-gray-900 focus:text-gray-900 hover:bg-paleta4 focus:bg-paleta4 focus:outline-none focus:shadow-outline"
      >
        <span class="text-white text-lg">Inicio</span>
      </button>
    </div>

    <ul class="space-y-2 tracking-wide mt-1">
      <!-- USUARIOS MENU DROPDOWN -->
      <ng-container *ngIf="esAdmin">
        <div class="relative" x-data="{ open: false }">
          <button
            (click)="
              !openUsuarios ? (openUsuarios = true) : (openUsuarios = false)
            "
            class="flex flex-row items-center w-full px-4 py-2 mt-2 text-sm font-semibold text-left bg-transparent rounded-lg md:block hover:text-gray-900 focus:text-gray-900 hover:bg-paleta4 focus:bg-paleta4 focus:outline-none focus:shadow-outline"
          >
            <span class="text-white text-lg">Usuarios</span>
            <svg
              fill="currentColor"
              viewBox="0 0 20 20"
              :class="{'rotate-180': open, 'rotate-0': !open}"
              class="text-white inline r-0 w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </button>
          <div
            *ngIf="openUsuarios"
            x-transition:enter="transition ease-out duration-100"
            x-transition:enter-start="transform opacity-0 scale-95"
            x-transition:enter-end="transform opacity-100 scale-100"
            x-transition:leave="transition ease-in duration-75"
            x-transition:leave-start="transform opacity-100 scale-100"
            x-transition:leave-end="transform opacity-0 scale-95"
            class="right-0 w-full mt-2 origin-top-right rounded-md shadow-lg"
          >
            <div class="px-2 py-2 bg-white rounded-md shadow">
              <a
                *ngFor="let item of menuUsuario"
                class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg md:mt-0 hover:text-white focus:text-white hover:bg-paleta2 focus:bg-paleta2 focus:outline-none focus:shadow-outline"
                [routerLink]="item.ruta"
                routerLinkActive="from-paleta4 to-yellow-500 bg-gradient-to-r"
                >{{ item.nombre }}</a
              >
            </div>
          </div>
        </div>
      </ng-container>
      <!-- MENU INGREDIENTES -->
      <ng-container *ngIf="esAdmin || esCocinero">
        <div class="relative" x-data="{ open: false }">
          <button
            (click)="!openIng ? (openIng = true) : (openIng = false)"
            class="flex flex-row items-center w-full px-4 py-2 mt-2 text-sm font-semibold text-left bg-transparent rounded-lg md:block hover:text-gray-900 focus:text-gray-900 hover:bg-paleta4 focus:bg-paleta4 focus:outline-none focus:shadow-outline"
          >
            <span class="text-white text-lg">Ingredientes</span>
            <svg
              fill="currentColor"
              viewBox="0 0 20 20"
              :class="{'rotate-180': open, 'rotate-0': !open}"
              class="text-white inline r-0 w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </button>
          <div
            *ngIf="openIng"
            x-transition:enter="transition ease-out duration-100"
            x-transition:enter-start="transform opacity-0 scale-95"
            x-transition:enter-end="transform opacity-100 scale-100"
            x-transition:leave="transition ease-in duration-75"
            x-transition:leave-start="transform opacity-100 scale-100"
            x-transition:leave-end="transform opacity-0 scale-95"
            class="right-0 w-full mt-2 origin-top-right rounded-md shadow-lg"
          >
            <div class="px-2 py-2 bg-white rounded-md shadow">
              <a
                *ngFor="let item of menuIngredientes"
                class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg md:mt-0 hover:text-white focus:text-white hover:bg-paleta2 focus:bg-paleta2 focus:outline-none focus:shadow-outline"
                [routerLink]="item.ruta"
                routerLinkActive="from-paleta4 to-yellow-500 bg-gradient-to-r"
                >{{ item.nombre }}</a
              >
            </div>
          </div>
        </div>
      </ng-container>

      <!-- MENU MESAS -->
      <ng-container *ngIf="esAdmin || esMesero">
        <div class="relative" x-data="{ open: false }">
          <button
            (click)="!openMesas ? (openMesas = true) : (openMesas = false)"
            class="flex flex-row items-center w-full px-4 py-2 mt-2 text-sm font-semibold text-left bg-transparent rounded-lg md:block hover:text-gray-900 focus:text-gray-900 hover:bg-paleta4 focus:bg-paleta4 focus:outline-none focus:shadow-outline"
          >
            <span class="text-white text-lg">Mesas</span>
            <svg
              fill="currentColor"
              viewBox="0 0 20 20"
              :class="{'rotate-180': open, 'rotate-0': !open}"
              class="text-white inline r-0 w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </button>
          <div
            *ngIf="openMesas"
            x-transition:enter="transition ease-out duration-100"
            x-transition:enter-start="transform opacity-0 scale-95"
            x-transition:enter-end="transform opacity-100 scale-100"
            x-transition:leave="transition ease-in duration-75"
            x-transition:leave-start="transform opacity-100 scale-100"
            x-transition:leave-end="transform opacity-0 scale-95"
            class="right-0 w-full mt-2 origin-top-right rounded-md shadow-lg"
          >
            <div class="px-2 py-2 bg-white rounded-md shadow">
              <a
                *ngFor="let item of menuMesas"
                class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg md:mt-0 hover:text-white focus:text-white hover:bg-paleta2 focus:bg-paleta2 focus:outline-none focus:shadow-outline"
                [routerLink]="item.ruta"
                routerLinkActive="from-paleta4 to-yellow-500 bg-gradient-to-r"
                >{{ item.nombre }}</a
              >
            </div>
          </div>
        </div>
      </ng-container>
      <!-- MENU RECETAS -->
      <ng-container *ngIf="esCocinero">
        <div class="relative" x-data="{ open: false }">
          <button
            (click)="
              !openRecetas ? (openRecetas = true) : (openRecetas = false)
            "
            class="flex flex-row items-center w-full px-4 py-2 mt-2 text-sm font-semibold text-left bg-transparent rounded-lg md:block hover:text-gray-900 focus:text-gray-900 hover:bg-paleta4 focus:bg-paleta4 focus:outline-none focus:shadow-outline"
          >
            <span class="text-white text-lg">Recetas</span>
            <svg
              fill="currentColor"
              viewBox="0 0 20 20"
              :class="{'rotate-180': open, 'rotate-0': !open}"
              class="text-white inline r-0 w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </button>
          <div
            *ngIf="openRecetas"
            x-transition:enter="transition ease-out duration-100"
            x-transition:enter-start="transform opacity-0 scale-95"
            x-transition:enter-end="transform opacity-100 scale-100"
            x-transition:leave="transition ease-in duration-75"
            x-transition:leave-start="transform opacity-100 scale-100"
            x-transition:leave-end="transform opacity-0 scale-95"
            class="right-0 w-full mt-2 origin-top-right rounded-md shadow-lg"
          >
            <div class="px-2 py-2 bg-white rounded-md shadow">
              <a
                *ngFor="let item of menuRecetas"
                class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg md:mt-0 hover:text-white focus:text-white hover:bg-paleta2 focus:bg-paleta2 focus:outline-none focus:shadow-outline"
                [routerLink]="item.ruta"
                routerLinkActive="from-paleta4 to-yellow-500 bg-gradient-to-r"
                >{{ item.nombre }}</a
              >
            </div>
          </div>
        </div>
      </ng-container>
      <!-- MENU Platos -->
      <ng-container *ngIf="esCocinero">
        <div class="relative" x-data="{ open: false }">
          <button
            (click)="!openPlatos ? (openPlatos = true) : (openPlatos = false)"
            class="flex flex-row items-center w-full px-4 py-2 mt-2 text-sm font-semibold text-left bg-transparent rounded-lg md:block hover:text-gray-900 focus:text-gray-900 hover:bg-paleta4 focus:bg-paleta4 focus:outline-none focus:shadow-outline"
          >
            <span class="text-white text-lg">Platos</span>
            <svg
              fill="currentColor"
              viewBox="0 0 20 20"
              :class="{'rotate-180': open, 'rotate-0': !open}"
              class="text-white inline r-0 w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </button>
          <div
            *ngIf="openPlatos"
            x-transition:enter="transition ease-out duration-100"
            x-transition:enter-start="transform opacity-0 scale-95"
            x-transition:enter-end="transform opacity-100 scale-100"
            x-transition:leave="transition ease-in duration-75"
            x-transition:leave-start="transform opacity-100 scale-100"
            x-transition:leave-end="transform opacity-0 scale-95"
            class="right-0 w-full mt-2 origin-top-right rounded-md shadow-lg"
          >
            <div class="px-2 py-2 bg-white rounded-md shadow">
              <a
                *ngFor="let item of menuPlatos"
                class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg md:mt-0 hover:text-white focus:text-white hover:bg-paleta2 focus:bg-paleta2 focus:outline-none focus:shadow-outline"
                [routerLink]="item.ruta"
                routerLinkActive="from-paleta4 to-yellow-500 bg-gradient-to-r"
                >{{ item.nombre }}</a
              >
            </div>
          </div>
        </div>
      </ng-container>
      <!-- MENU PROVEEDORES -->
      <ng-container *ngIf="esAdmin">
        <div class="relative" x-data="{ open: false }">
          <button
            (click)="
              !openProveedores
                ? (openProveedores = true)
                : (openProveedores = false)
            "
            class="flex flex-row items-center w-full px-4 py-2 mt-2 text-sm font-semibold text-left bg-transparent rounded-lg md:block hover:text-gray-900 focus:text-gray-900 hover:bg-paleta4 focus:bg-paleta4 focus:outline-none focus:shadow-outline"
          >
            <span class="text-white text-lg">Proveedores</span>
            <svg
              fill="currentColor"
              viewBox="0 0 20 20"
              :class="{'rotate-180': open, 'rotate-0': !open}"
              class="text-white inline r-0 w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </button>
          <div
            *ngIf="openProveedores"
            x-transition:enter="transition ease-out duration-100"
            x-transition:enter-start="transform opacity-0 scale-95"
            x-transition:enter-end="transform opacity-100 scale-100"
            x-transition:leave="transition ease-in duration-75"
            x-transition:leave-start="transform opacity-100 scale-100"
            x-transition:leave-end="transform opacity-0 scale-95"
            class="right-0 w-full mt-2 origin-top-right rounded-md shadow-lg"
          >
            <div class="px-2 py-2 bg-white rounded-md shadow">
              <a
                *ngFor="let item of menuProveedores"
                class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg md:mt-0 hover:text-white focus:text-white hover:bg-paleta2 focus:bg-paleta2 focus:outline-none focus:shadow-outline"
                [routerLink]="item.ruta"
                routerLinkActive="from-paleta4 to-yellow-500 bg-gradient-to-r"
                >{{ item.nombre }}</a
              >
            </div>
          </div>
        </div>
      </ng-container>
      <!-- MENU BEBBSTIBLES -->
      <ng-container *ngIf="esCocinero || esBodeguero">
        <div class="relative" x-data="{ open: false }">
          <button
            (click)="
              !openBebestibles
                ? (openBebestibles = true)
                : (openBebestibles = false)
            "
            class="flex flex-row items-center w-full px-4 py-2 mt-2 text-sm font-semibold text-left bg-transparent rounded-lg md:block hover:text-gray-900 focus:text-gray-900 hover:bg-paleta4 focus:bg-paleta4 focus:outline-none focus:shadow-outline"
          >
            <span class="text-white text-lg">Bebestibles</span>
            <svg
              fill="currentColor"
              viewBox="0 0 20 20"
              :class="{'rotate-180': open, 'rotate-0': !open}"
              class="text-white inline r-0 w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </button>
          <div
            *ngIf="openBebestibles"
            x-transition:enter="transition ease-out duration-100"
            x-transition:enter-start="transform opacity-0 scale-95"
            x-transition:enter-end="transform opacity-100 scale-100"
            x-transition:leave="transition ease-in duration-75"
            x-transition:leave-start="transform opacity-100 scale-100"
            x-transition:leave-end="transform opacity-0 scale-95"
            class="right-0 w-full mt-2 origin-top-right rounded-md shadow-lg"
          >
            <div class="px-2 py-2 bg-white rounded-md shadow">
              <a
                *ngFor="let item of menuBebestibles"
                class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg md:mt-0 hover:text-white focus:text-white hover:bg-paleta2 focus:bg-paleta2 focus:outline-none focus:shadow-outline"
                [routerLink]="item.ruta"
                routerLinkActive="from-paleta4 to-yellow-500 bg-gradient-to-r"
                >{{ item.nombre }}</a
              >
            </div>
          </div>
        </div>
      </ng-container>
      <!-- MENU MESA DETALLES -->
      <ng-container *ngIf="esMesero">
        <div class="relative" x-data="{ open: false }">
          <button
            (click)="
              !openDetalleMesas
                ? (openDetalleMesas = true)
                : (openDetalleMesas = false)
            "
            class="flex flex-row items-center w-full px-4 py-2 mt-2 text-sm font-semibold text-left bg-transparent rounded-lg md:block hover:text-gray-900 focus:text-gray-900 hover:bg-paleta4 focus:bg-paleta4 focus:outline-none focus:shadow-outline"
          >
            <span class="text-white text-lg">Detalle Mesas</span>
            <svg
              fill="currentColor"
              viewBox="0 0 20 20"
              :class="{'rotate-180': open, 'rotate-0': !open}"
              class="text-white inline r-0 w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </button>
          <div
            *ngIf="openDetalleMesas"
            x-transition:enter="transition ease-out duration-100"
            x-transition:enter-start="transform opacity-0 scale-95"
            x-transition:enter-end="transform opacity-100 scale-100"
            x-transition:leave="transition ease-in duration-75"
            x-transition:leave-start="transform opacity-100 scale-100"
            x-transition:leave-end="transform opacity-0 scale-95"
            class="right-0 w-full mt-2 origin-top-right rounded-md shadow-lg"
          >
            <div class="px-2 py-2 bg-white rounded-md shadow">
              <a
                *ngFor="let item of menuDetalleMesas"
                class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg md:mt-0 hover:text-white focus:text-white hover:bg-paleta2 focus:bg-paleta2 focus:outline-none focus:shadow-outline"
                [routerLink]="item.ruta"
                routerLinkActive="from-paleta4 to-yellow-500 bg-gradient-to-r"
                >{{ item.nombre }}</a
              >
            </div>
          </div>
        </div>
      </ng-container>

      <!-- MENU PEDIDOS INGREDIENTES -->
      <ng-container *ngIf="esBodeguero">
        <div class="relative" x-data="{ open: false }">
          <button
            (click)="
              !openPedidoIngredientes
                ? (openPedidoIngredientes = true)
                : (openPedidoIngredientes = false)
            "
            class="flex flex-row items-center w-full px-4 py-2 mt-2 text-sm font-semibold text-left bg-transparent rounded-lg md:block hover:text-gray-900 focus:text-gray-900 hover:bg-paleta4 focus:bg-paleta4 focus:outline-none focus:shadow-outline"
          >
            <span class="text-white text-lg">Pedidos Ingredientes</span>
            <svg
              fill="currentColor"
              viewBox="0 0 20 20"
              :class="{'rotate-180': open, 'rotate-0': !open}"
              class="text-white inline r-0 w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </button>
          <div
            *ngIf="openPedidoIngredientes"
            x-transition:enter="transition ease-out duration-100"
            x-transition:enter-start="transform opacity-0 scale-95"
            x-transition:enter-end="transform opacity-100 scale-100"
            x-transition:leave="transition ease-in duration-75"
            x-transition:leave-start="transform opacity-100 scale-100"
            x-transition:leave-end="transform opacity-0 scale-95"
            class="right-0 w-full mt-2 origin-top-right rounded-md shadow-lg"
          >
            <div class="px-2 py-2 bg-white rounded-md shadow">
              <a
                *ngFor="let item of menuPedidoIng"
                class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg md:mt-0 hover:text-white focus:text-white hover:bg-paleta2 focus:bg-paleta2 focus:outline-none focus:shadow-outline"
                [routerLink]="item.ruta"
                routerLinkActive="from-paleta4 to-yellow-500 bg-gradient-to-r"
                >{{ item.nombre }}</a
              >
            </div>
          </div>
        </div>
      </ng-container>
    </ul>
  </div>
</aside>
