<div
  aria-label="group of cards"
  tabindex="0"
  class="focus:outline-none py-8 w-full"
>
  <div class="lg:flex items-center justify-center w-full">
    <div
      *ngFor="let item of recetas"
      tabindex="0"
      aria-label="card 1"
      class="focus:outline-none lg:w-4/12 lg:mr-7 lg:mb-0 mb-7 bg-white p-6 shadow rounded"
    >
      <div class="flex items-center border-b border-gray-200 pb-6">
        <div class="flex items-start justify-between w-full">
          <div class="pl-3 w-full">
            <p
              tabindex="0"
              class="focus:outline-none text-xl font-medium leading-5 text-gray-800"
            >
              {{ item.nombre_prep }}
            </p>
            <p
              tabindex="0"
              class="focus:outline-none text-sm leading-normal pt-2 text-gray-500"
            >
              {{ item.tiempo_prep }} Minutos
            </p>
          </div>
          <div role="img" aria-label="bookmark">
            <svg
              class="focus:outline-none"
              width="28"
              height="28"
              viewBox="0 0 28 28"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M10.5001 4.66667H17.5001C18.1189 4.66667 18.7124 4.9125 19.15 5.35009C19.5876 5.78767 19.8334 6.38117 19.8334 7V23.3333L14.0001 19.8333L8.16675 23.3333V7C8.16675 6.38117 8.41258 5.78767 8.85017 5.35009C9.28775 4.9125 9.88124 4.66667 10.5001 4.66667Z"
                stroke="#2C3E50"
                stroke-width="1.25"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="px-2">
        <p
          tabindex="0"
          class="focus:outline-none text-sm leading-5 py-4 text-gray-600"
        >
          {{ item.prep }}
        </p>
        <div>
          <div class="inline-block relative py-1 text-xs">
            <div class="absolute inset-0 text-red-200 flex">
              <svg height="100%" viewBox="0 0 50 100">
                <path
                  d="M49.9,0a17.1,17.1,0,0,0-12,5L5,37.9A17,17,0,0,0,5,62L37.9,94.9a17.1,17.1,0,0,0,12,5ZM25.4,59.4a9.5,9.5,0,1,1,9.5-9.5A9.5,9.5,0,0,1,25.4,59.4Z"
                  fill="currentColor"
                />
              </svg>
              <div
                class="flex-grow h-full -ml-px bg-red-200 rounded-md rounded-l-none"
              ></div>
            </div>
            <span
              *ngFor="let e of ingsDentro"
              class="relative text-red-500 uppercase font-semibold pr-px"
            >
              <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>{{ e.id_ing
              }}<span>&nbsp;</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
