<app-sidebar></app-sidebar>
<div class="bg-white ml-auto mb-6 lg:w-[75%] xl:w-[80%] 2xl:w-[85%]">
  <div class="sticky z-10 top-0 h-16 border-b bg-white shadow-lg lg:py-2.5">
    <div class="px-6 flex items-center justify-between space-x-4 2xl:container">
      <h5 hidden class="text-2xl text-paleta2 font-medium lg:block">
        Restaurant Siglo XXI
      </h5>
      <button class="w-12 h-16 -mr-2 border-r lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 my-auto"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"
          />
        </svg>
      </button>
      <div class="relative inline-block text-left dropdown">
        <span class="rounded-md shadow-sm"
          ><button
            class="inline-flex justify-center w-full px-4 py-2 text-sm font-medium leading-5 text-paleta2 transition duration-150 ease-in-out bg-white border border-paleta2 rounded-md hover:text-paleta2 focus:outline-none focus:border-paleta2 focus:shadow-outline-blue active:bg-paleta2 active:text-gray-800"
            type="button"
            aria-haspopup="true"
            aria-expanded="true"
            aria-controls="headlessui-menu-items-117"
          >
            <span>{{ usuario.nombre }} {{ usuario.appa }}</span>
            <svg
              class="w-5 h-5 ml-2 -mr-1"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg></button
        ></span>
        <div
          class="opacity-0 invisible dropdown-menu transition-all duration-300 transform origin-top-right -translate-y-2 scale-95"
        >
          <div
            class="absolute right-0 w-56 mt-2 origin-top-right bg-white border border-gray-200 divide-y divide-gray-100 rounded-md shadow-lg outline-none"
            aria-labelledby="headlessui-menu-button-1"
            id="headlessui-menu-items-117"
            role="menu"
          >
            <div class="px-4 py-3">
              <p class="text-sm leading-5">Iniciaste como:</p>
              <p class="text-sm font-medium leading-5 text-gray-900 truncate">
                {{ usuario.email }}
              </p>
            </div>
            <div class="py-1 hover:bg-paleta2 hover:text-white">
              <a
                href="javascript:void(0)"
                tabindex="1"
                class="hover:bg-paleta2 hover:text-white text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left"
                role="menuitem"
                >Configuración</a
              >
            </div>
            <div
              class="py-1 hover:bg-paleta2 hover:text-white"
              (click)="logout()"
            >
              <a
                href="javascript:void(0)"
                tabindex="3"
                class="text-gray-700 hover:bg-paleta2 hover:text-white flex justify-between w-full px-4 py-2 text-sm leading-5 text-left"
                role="menuitem"
                >Cerrar Sesión</a
              >
            </div>
          </div>
        </div>

        <style>
          .dropdown:focus-within .dropdown-menu {
            opacity: 1;
            transform: translate(0) scale(1);
            visibility: visible;
          }
        </style>
      </div>
    </div>
  </div>

  <div class="px-6 pt-6 2xl:container">
    <router-outlet></router-outlet>
  </div>
</div>
