<section
  class="p-10 mt-5 flex md:flex-row items-center justify-around bg-white flex-wrap sm:flex-col"
>
  <div
    *ngFor="let mesa of mesas"
    class="w-1/12 h-20 relative cursor-pointer mb-10 mr-6"
  >
    <div
      [ngClass]="{
        'bg-red-600': mesa.disponibilidad === 0,
        'bg-green-600': mesa.disponibilidad === 1,
        'bg-yellow-500': mesa.disponibilidad === 2
      }"
      class="absolute inset-0 opacity-25 rounded-lg shadow-2xl"
    ></div>
    <div
      class="absolute inset-0 transform hover:scale-75 transition duration-300"
    >
      <div
        [ngClass]="{
          'bg-red-600': mesa.disponibilidad === 0,
          'bg-green-600': mesa.disponibilidad === 1,
          'bg-yellow-500': mesa.disponibilidad === 2
        }"
        class="h-full w-full rounded-lg shadow-2xl"
      >
        <br />
        <h1 class="text-2xl text-white font-bold text-center my-auto">
          {{ mesa.id_mesa }}
        </h1>
      </div>
    </div>
  </div>
</section>
