<!-- component -->
<div class="overflow-x-auto">
  <div
    class="min-w-screen min-h-screen flex justify-center font-sans overflow-hidden"
  >
    <div class="w-full lg:w-5/6">
      <div class="bg-paleta5 shadow-md rounded my-6">
        <table class="min-w-max w-full table-auto">
          <thead>
            <tr
              class="bg-paleta4 text-gray-800 uppercase text-sm leading-normal"
            >
              <th class="py-3 px-6 text-left">Nombre</th>
              <th class="py-3 px-6 text-left">Email</th>
              <th class="py-3 px-6 text-center">Estado</th>
              <th class="py-3 px-6 text-center">Rol(es)</th>
              <th class="py-3 px-6 text-center">Aciones</th>
              <th class="py-3 px-6 text-center">Gestion Roles</th>
            </tr>
          </thead>
          <tbody class="text-gray-800 text-sm font-light">
            <tr
              *ngFor="let usuario of usuarios"
              class="border-b border-gray-200 hover:bg-paleta2"
            >
              <td class="py-3 px-6 text-left whitespace-nowrap">
                <div class="flex items-center">
                  <div class="mr-2"></div>
                  <span class="text-gray-50 font-medium"
                    >{{ usuario.nombre }} {{ usuario.appa }}</span
                  >
                </div>
              </td>
              <td class="py-3 px-6 text-left">
                <div class="flex items-center">
                  <div class="mr-2"></div>
                  <span class="text-gray-50 font-medium">{{
                    usuario.email
                  }}</span>
                </div>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex items-center justify-center">
                  <span
                    [ngClass]="{
                      'bg-red-600': !usuario.estado,
                      'bg-green-600 text-white': usuario.estado,
                      'bg-yellow-500': usuario.estado === 2
                    }"
                    class="py-1 px-3 rounded-full text-xs"
                    >{{
                      usuario.estado === 2
                        ? "En espera de aprobacion"
                        : "" || usuario.estado
                        ? "Activo"
                        : "" || !usuario.estado
                        ? "Bloqueado"
                        : ""
                    }}</span
                  >
                </div>
              </td>
              <td class="py-3 px-6 text-center">
                <ng-container
                  *ngFor="let item of usuario.rolArray; let i2 = index"
                >
                  <span
                    *ngIf="item === 1"
                    class="bg-paleta4 text-white py-1 px-3 rounded-full text-xs"
                    >Admin</span
                  >
                  <span
                    *ngIf="item === 2"
                    class="bg-paleta6 text-white py-1 px-3 rounded-full text-xs"
                    >Mesero</span
                  >
                  <span
                    *ngIf="item === 3"
                    class="bg-red-500 text-white py-1 px-3 rounded-full text-xs"
                    >Cocinero</span
                  >
                  <span
                    *ngIf="item === 4"
                    class="bg-lime-700 text-white py-1 px-3 rounded-full text-xs"
                    >Finanzas</span
                  >
                  <span
                    *ngIf="item === 5"
                    class="bg-indigo-400 text-white py-1 px-3 rounded-full text-xs"
                    >Bodega</span
                  >
                </ng-container>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex item-center justify-center">
                  <div
                    class="w-4 mr-2 transform text-white hover:text-paleta4 hover:scale-110"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
                      />
                    </svg>
                  </div>
                  <div
                    class="w-4 mr-2 transform text-white hover:text-paleta4 hover:scale-110"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                      />
                    </svg>
                  </div>
                </div>
              </td>
              <td class="py-3 px-6 text-center">
                <button
                  [routerLink]="['/admin/usuarios/roles/', usuario.id_user]"
                  class="p-2 bg-yellow-500 rounded-xl hover:rounded-3xl hover:bg-yellow-600 transition-all duration-300 text-white"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-4 w-4"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"
                    />
                  </svg>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
