<section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
  <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-6">
    <div *ngFor="let item of pedidos" class="bg-white border rounded-lg p-6">
      <section>
        <div class="flex flex-col justify-center h-full">
          <!-- Table -->
          <div class="w-full max-w-2xl mx-auto bg-white shadow-lg rounded-sm">
            <header class="px-5 py-4 border-b border-gray-100">
              <div class="font-semibold text-gray-800">
                Mesa: {{ item.id_mesa }}
              </div>
            </header>

            <div class="overflow-x-auto p-3">
              <table class="table-auto w-full">
                <thead
                  class="text-xs font-semibold uppercase text-gray-400 bg-gray-50"
                >
                  <tr>
                    <th class="p-2">
                      <div class="font-semibold text-left">Nombre Plato</div>
                    </th>
                    <th class="p-2">
                      <div class="font-semibold text-left">Cantidad</div>
                    </th>
                  </tr>
                </thead>

                <tbody class="text-sm divide-y divide-gray-100">
                  <!-- record 1 -->
                  <tr>
                    <td class="p-2">
                      <div class="font-medium text-gray-800">
                        {{ item.platos }}
                      </div>
                    </td>
                    <td class="p-2">
                      <div class="text-left">1</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
