<div class="max-w-md mx-auto space-y-6">
  <table class="table-auto w-full rounded-sm">
    <thead class="text-xs font-semibold uppercase text-gray-100 bg-paleta5">
      <tr>
        <th class="p-2">
          <div class="font-semibold text-left">Plato</div>
        </th>
        <th class="p-2">
          <div class="font-semibold text-left">Cantidad</div>
        </th>
        <th class="p-2">
          <div class="font-semibold text-left">Precio</div>
        </th>
      </tr>
    </thead>

    <tbody class="text-sm divide-y divide-gray-100">
      <!-- record 1 -->
      <ng-container *ngIf="pedido.bebestibles">
        <ng-container *ngFor="let item of pedido.bebestibles">
              <tr>
              <td class="p-2">
              <div  class="font-medium text-gray-800">
                {{item[0].nombre}}
              </div>
            </td>
            <td class="p-2">
              <div  class="font-medium text-gray-800">
                {{item[1]}}
              </div>
            </td>
            <td class="p-2">
              <div  class="font-medium text-gray-800">
                {{item[0].precio}}
              </div>
            </td>
          </tr>
          </ng-container>
        </ng-container>
          <ng-container *ngIf="pedido.platos">
            <ng-container *ngFor="let item of pedido.platos">
              <tr>
              <td class="p-2">
                <div  class="font-medium text-gray-800">
                  {{item[0].recetum.nombre_prep}}
                </div>
          </td>
          <td class="p-2">
            <div class="font-medium text-gray-800">
              {{item[1]}}
              </div>
            </td>
            <td class="p-2">
            <div class="font-medium text-gray-800">
                {{item[0].precio}}
              </div>
            </td>
          </tr>
          </ng-container>
        </ng-container>
    </tbody>
  </table>
  <div class="flex flex-col">
    <button
      (click)="agregarAlPedido()"
      class="h-10 px-5 m-2 uppercase text-indigo-100 transition-colors duration-150 bg-paleta4 rounded-lg hover:bg-paleta5 text-lg"
    >
      Agregar mas platos al pedido
    </button>
  </div>
  <div class="flex flex-col">
    <button
      (click)="pagarButton(pedido.id_mesa)"
      class="h-10 px-5 uppercase -mt-2 m-2 text-indigo-100 transition-colors duration-150 bg-lime-700 rounded-lg hover:bg-lime-800 text-lg"
    >
      Cerrar Pedido Y Pagar
    </button>
  </div>
</div>
