<section class="container mx-auto p-6 font-mono">
  <div class="w-full mb-8 overflow-hidden rounded-lg shadow-lg">
    <div class="w-full overflow-x-auto">
      <table class="w-full">
        <thead>
          <tr
            class="text-md font-semibold tracking-wide text-left text-gray-100 bg-paleta5 uppercase border-b border-gray-600"
          >
            <th class="px-4 py-3">Fecha Recibo</th>
            <th class="px-4 py-3">Cantidad</th>
            <th class="px-4 py-3">Detalle</th>
            <th class="px-4 py-3">Estado</th>
          </tr>
        </thead>
        <tbody class="bg-white"> <!--revisar-->
          <tr *ngFor="let recibopedido of recibopedido"
          class="text-gray-700">
            <td class="px-4 py-3 border">
              <div class="flex items-center text-sm">
                <div>
                  <p class="font-semibold text-black">
                    {{ recibopedido.fecha_recibo }}
                  </p>
                </div>
              </div>
            </td>
            <td class="px-4 py-3 text-ms font-semibold border">
              {{ recibopedido.cantidad }}
            </td>
            <td class="px-4 py-3 text-ms font-semibold border">
              {{ recibopedido.detalle }}
            </td>
            <td class="px-4 py-3 text-sm font-semibold border">
              {{ recibopedido.estado}}
            </td>

          </tr>
            <!-- <div class="inline-flex mt-2 xs:mt-0">
              <div class="mx-auto">
                <button
                  *ngIf="btnActivo"
                  (click)="btnAnterior(10)"
                  class="text-sm bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 rounded-l"
                >
                  Prev
                </button>
                <button
                  (click)="btnSiguiente(10)"
                  class="text-sm bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 rounded-r"
                >
                  Next
                </button>
              </div>
            </div> -->
<!---          </tr>-->
        </tbody>
      </table>
    </div>
  </div>
</section>
