<div class="w-full h-96 flex">
  <img
    class="w-full h-96 object-cover opacity-75"
    src="https://images.pexels.com/photos/1581554/pexels-photo-1581554.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt=""
  />
  <img
    class="absolute h-96 mt-12 item-center"
    src="../../../../assets/Logo Negro.png"
    alt=""
  />
  <h1 class="right-10 absolute text-6xl text-black mt-44 font-bold ">
    Bienvenidos
  </h1>
</div>

<div class="flex p-10 mx-10 border my-10 border-paleta4">
  <div class="w-6/12">
    <div class="bg-black opacity-5 absolute"></div>

    <img
      class="h-72 w-full object-cover"
      src="https://images.pexels.com/photos/1484516/pexels-photo-1484516.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt=""
    />
  </div>
  <div class="w-6/12 ml-10">
    <h1 class="text-5xl text-gray-800 font-bold">Reservar</h1>
    <p class="w-5/12 mx-auto md:mx-0 text-gray-500">Reserva con nosotros.</p>
    <button
      type="submit"
      class="block w-full max-w-xs mt-4 bg-paleta4 hover:bg-paleta2 focus:bg-paleta6 text-white rounded-lg px-3 py-3 font-semibold"
    >
      IR A RESERVAR
    </button>
  </div>
</div>

<div class="flex p-10 mx-10 border my-2 border-paleta4">
  <div class="w-6/12 ml-10">
    <h1 class="text-5xl text-gray-800 font-bold">Conoce nuestra carta</h1>
    <p class="w-5/12 mx-auto md:mx-0 text-gray-500">
      Conoce nuestros platos y tragos que te ofrecemos.
    </p>
    <button
      type="submit"
      class="block uppercase w-full max-w-xs mt-4 bg-paleta4 hover:bg-paleta2 focus:bg-paleta6 text-white rounded-lg px-3 py-3 font-semibold"
    >
      Conocer la carta
    </button>
  </div>
  <div class="w-6/12">
    <div class="bg-black opacity-5 absolute"></div>

    <img
      class="h-72 w-full object-cover"
      src="https://images.pexels.com/photos/262978/pexels-photo-262978.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt=""
    />
  </div>
</div>
