<!-- This is an example component -->
<div class="flex items-center justify-center mt-32">
  <div class="rounded-xl border p-5 shadow-md w-9/12 bg-white">
    <h1 class="text-3xl pl-5 pt-5">Roles que tiene:</h1>
    <h1 class="text-xl pl-5 pt-5 pb-5">
      <strong>Usuario: </strong>{{ usuarioPorId.nombre }}
      {{ usuarioPorId.appa }}
    </h1>

    <div class="w-full justify-center items-center">
      <div class="grid grid-cols-5 w-full gap-3 pt-3 pb-2 px-2 relative">
        <div *ngFor="let rol of roles" class="relative w-full h-8">
          <input
            [id]="rol.id_rol"
            (change)="checkboxChanged($event, rol.id_rol)"
            [checked]="isChecked(rol.id_rol)"
            type="checkbox"
            class="appearance-none rounded-lg bg-gray-200 cursor-pointer h-full w-full checked:bg-paleta4 transition-all duration-200 checked:hover:bg-paleta4 hover:bg-paleta4 peer"
          />
          <label
            [for]="rol.id_rol"
            class="absolute top-[50%] left-3 text-gray-400 hover:text-gray-200 cursor-pointer -translate-y-[50%] peer-checked:text-gray-100 transition-all duration-200 select-none"
            >{{ rol.nom_rol }}</label
          >
        </div>
      </div>
    </div>

    <div class="flex">
      <button
        (click)="guardarCambios()"
        class="mx-auto mt-7 w-2/6 tracking-wider bg-paleta4 hover:bg-paleta5 text-white px-4 py-1 text-sm rounded leading-loose font-semibold"
      >
        Guardar Cambios
      </button>
    </div>
  </div>
</div>
