<section class="antialiased bg-white text-gray-600 mt-20 px-4" x-data="app">
  <div class="flex flex-col justify-center h-full">
    <!-- Table -->
    <div
      class="w-full max-w-2xl mx-auto bg-white shadow-lg rounded-sm border border-gray-200"
    >
      <header class="px-5 py-4 border-b border-gray-100">
        <div class="font-semibold text-gray-800">Roles del usuario</div>
      </header>

      <div class="overflow-x-auto p-3">
        <table class="table-auto w-full">
          <thead
            class="text-xs font-semibold uppercase text-gray-400 bg-gray-50"
          >
            <tr>
              <th></th>
              <th class="p-2">
                <div class="font-semibold text-left">ID ROL</div>
              </th>
              <th class="p-2">
                <div class="font-semibold text-left">NOMBRE ROL</div>
              </th>
            </tr>
          </thead>

          <tbody class="text-sm divide-y divide-gray-100">
            <!-- record 1 -->
            <tr *ngFor="let rol of roles">
              <td class="p-2">
                <input
                  type="checkbox"
                  class="w-5 h-5"
                  [value]="rol.id_rol"
                  [checked]=""
                />
              </td>
              <td class="p-2">
                <div class="font-medium text-gray-800">
                  {{ rol.id_rol }}
                </div>
              </td>
              <td class="p-2">
                <div class="text-left">{{ rol.nom_rol }}</div>
              </td>
              <td class="p-2"></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="flex justify-end">
        <!-- send this data to backend (note: use class 'hidden' to hide this input) -->
        <input
          type="hidden"
          class="border border-black bg-gray-50"
          x-model="selected"
        />
      </div>
    </div>
  </div>
</section>
